

            
            /* @font-face { lien vers le fichier du font }   = si je veux inclure une police téléchargée */ 
            
            * {
                margin:0;
                font-family: 'Fredericka the Great', cursive;


            }
            
            nav { 
            
            background-image: url(https://pre00.deviantart.net/fb76/th/pre/i/2013/044/8/2/cat_shapes___background_by_lalunatique-d5f93yf.jpg) ;
            background-position: center;
                
                
            
                
            }
            
            ul li /* pour s'occuper des listes hors bloc navigation*/ {
                
               list-style:none;     
                }
            
           ul{  /* ul = liste, donc la mise en forme de la liste se fait ici, ou dans ul li */
                
             
                padding : 0px;
                
            }

        .breadcrumb {
            margin : 10px 0 10px 10px;
            }


            nav ul li, .breadcrumb {   /* ajouter le même comportement à la barre de navigation ET au fil d'ariane */ 
                

                display : inline;
                /* change l'affichage des éléments de la liste; inline = en ligne les uns derrière les autres */
          
            }
            
            nav ul li a { 
                
                color:#444444;
                text-decoration: none; 
                display:inline-block;
                padding: 5px 20px 5px 20px; 
                /* attention à l'endroit du padding : la sélection du clic n'est pas la même si on la met ici ou dans la section nav suivante */
         
                
            }
            
            /* donner une couleur/un comportement à un lien choisi*/
           /*  nav ul li a[title="Page d'accueil"]
            { 
                
                color:#444;
                text-decoration: overline; 
               
         
                
            } */ 
            
            /* renvoie à une classe définie dans mon code html, voir dans les liens vers "page d'accueil. On lui donne ainsi le comportement voulu dans le commentaire précédent. */ 
            .active {
                 color:#444;
                text-decoration: overline; 
            }
                        /* créer un comportement au passage de la souris */ 
            nav ul li a:hover  {  

                color:#000;
                text-decoration:overline; 
                
            }
            
            
            section, .homepage {
                
                width: 600px;   /* taille du bloc section */
                position: relative; 
                /* margin: 0 auto 0 auto   == mettre le texte au centre via les marges.  Auto = équilibre le bloc à droite et à gauche */
                margin : 50px auto; 
                padding: 10px 20px 10px 20px;
                /*marge uniquement du bas*/ /*redéfini des marges à l'intérieur des marges */ 
                /* border : 1px solid #ea273a; == dessine un cadre */
                
                /* marging = marges extérieures != padding = marges intérieures */ 
                
            }
            
            
            section h1 {
                color:#ea273a;
                font-size: 2rem;
                margin-bottom: 30px;
               
            }
            section p {
                color:#392866;
                font-size: : 16px;
                text-align:left;
                
            }
        
            
            footer {
                padding:30px 0;
                background: #ea273a;
            }
            
            footer p { 
                
                
                color: #000;
                font-size: 14px;
                text-align: center;
            
            
            }


      /* à finir   .link {
            
            text-decoration: none;
            padding: 5px;
            margin: 20px;
            border:solid 1px black;
            background-color: blueviolet;
            
    
            } */ 

        aside {
        float: right;
        width= 25%;
        }

        aside ul {
        float:right;
    
        }

        #singlearticle article {

            width:75%;
            
        }


        #singlearticle article img {
    
            
            
        }



            #contact {
                background-color: rgba(0, 0, 0, .2);   /* couleur et opacité */ 
            }           

        </style>